[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = :crab: Small exercises to get you used to reading and writing Rust code!
[access "refs/*"]
	owner = group user/kekeliu-whu (kekeliu-whu)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kekeliu-whu (kekeliu-whu)
	label-Verified = -1..+1 group user/kekeliu-whu (kekeliu-whu)
	push = group user/kekeliu-whu (kekeliu-whu)
	read = group user/kekeliu-whu (kekeliu-whu)
	rebase = group user/kekeliu-whu (kekeliu-whu)
	removeReviewer = group user/kekeliu-whu (kekeliu-whu)
	submit = group user/kekeliu-whu (kekeliu-whu)
[access "refs/heads/*"]
	create = group user/kekeliu-whu (kekeliu-whu)
	push = +force group user/kekeliu-whu (kekeliu-whu)
	pushMerge = group user/kekeliu-whu (kekeliu-whu)
	read = group user/kekeliu-whu (kekeliu-whu)
[access "refs/tags/*"]
	push = group user/kekeliu-whu (kekeliu-whu)
	push = +force group user/kekeliu-whu (kekeliu-whu)
